@charset "UTF-8";
/*Null settings*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 2;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif;
  color: #656D72;
  max-width: 1440px;
  min-width: 320px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?uci5aj');
    src:  url('fonts/icomoon.eot?uci5aj#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?uci5aj') format('truetype'),
      url('fonts/icomoon.woff?uci5aj') format('woff'),
      url('fonts/icomoon.svg?uci5aj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-Vector-1:before {
    content: "\e900";
  }
  .icon-Vector-2:before {
    content: "\e901";
  }
  .icon-Vector-3:before {
    content: "\e902";
  }
  .icon-Icon:before {
    content: "\e903";
  }
  .icon-shape-Stroke-1:before {
    content: "\e904";
  }
  .icon-shape-Stroke-2:before {
    content: "\e905";
  }
  .icon-shape-Stroke-3:before {
    content: "\e906";
  }
  .icon-shape-Stroke-4:before {
    content: "\e907";
  }
  .icon-shape-Stroke-5:before {
    content: "\e908";
  }
  .icon-shape-Stroke:before {
    content: "\e909";
  }
  .icon-Vector:before {
    content: "\e90a";
  }

  .title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
  }
  .title_lable{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 7.5px;
    font-weight: 500px;
    color:#656D72;
    padding-left: 35px;
    position: relative;
    margin-bottom: 9px;
  }
  .title_lable::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: rgb(157, 154, 154);
  }

/* NAV */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header_container{
    display: flex;
    align-items: center;
    min-height: 120px;
}
.menu{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.menu_link{
width: 84px;
height: 19px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #232E35;
transition: all 0.3s ease 0s;
}
.menu_link:hover{
    color: #7E74F1;
}
.header_button{
width: 102px;
height: 49px;
padding: 16px 24px;
border: 1px solid #F1F1F1;
color: #232E35;
border-radius: 5px;
transition: all 0.3s ease 0s;
}
.header_button:hover{
    color: #7E74F1;
    border: 1px solid #7E74F1;
}
.title span{
    color: #7E74F1;
}
.main-section_content{
    display: flex;
    min-height: 100%;
    margin-top: 150px;
    max-height: 500px;
    justify-content: space-between;
    align-items: center;
}
.main-container{
display: flex;
flex-direction: column;
}
.title-text{
    width: 530px;
    margin-top: 32px;
}
.main_section-decor{
    max-width: 333px;
    max-height: 400px;
    width: 100%;
    margin: 0 0 0 auto;
}


.social_link{
    color: #656D72;
    font-size: 24px;
}
.main-section-social{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.social_link{
margin-right: 32px;
transition: all 0.5s ease 0;
}
.social_link:hover{
    color: #7E74F1;
}
.title_lable{
    margin-top: 16px;
}
/*/////////////////////////////////*/
.servise_page{
    background-color: #FBFBFB;;
}
.servise-section_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servise_section_title{
    text-align: center;
}
.page_lable{
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 7.5px;
    font-weight: 500px;
    color:#656D72;
    margin-bottom: 9px;
    margin-top: 114px;
}
.servise_section-columns{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 185px;
}
.service-column{
display: flex;
flex-direction: column;
align-items: center;
max-width: 360px;
max-height: 300px;
background-color: #ffffff;
padding: 53px 57px;
border-radius: 5px;
flex-shrink: 2;
}

.column-pretitle{
height: 20px;
font-family: 'Plus Jakarta Sans', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #232E35;
margin-bottom: 16px;
}

.column-title{
width: 247px;
height: 72px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #232E35;
text-align: center;
}
.icon-column {
    color: #7E74F1;
    padding: 16px;
    background-color: #F5F3FE;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
}
.work{
    padding-top: 100px;
    padding-bottom: 100px;
}
.work_main_block{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.work-skrol img{
    padding: 15px;
    background-color:#EAE6FE;
    border-radius: 15px;
    margin-left: 10px;
}
.work-skrol img:hover{
    background-color: #cfc6fd;
}
.press{
    padding: 5px;
    border: 1px solid #656D72;
    border-radius: 5px;
    font-size: 12px;
    color:#232E35;
}
.img-skrol-info{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin-top: 140px;
    align-items: center;
    flex-shrink: 1;
}
.img-skrol-info h6{
  padding:15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: black;
}
.button-img{
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    margin: 10px;
}

/*////////////////*
PORTFOLIO8*/

.work_skrol-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1150px;
}
.work .img-skrol-info{
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 10px;
  padding-bottom: 25px;
  align-items: stretch;
}
.work .img-skrol-info a{
  opacity: 0.5;
  transition: all 3s ease 0;
}
.work .img-skrol-info a:hover{
  opacity: 1;
}

/*EXPERIENCE*/
.main-experience{
  display: flex;
  justify-content: space-between;
}
.experience{
  background-color: #FBFBFB;
  padding: 90px 0px;
}
.experience-variants p{
  padding: 14px;
  max-width: 280px;
  margin-top: 25px;
}
.experience-variants p:hover{
  background-color:#7E74F1;;
  color: white;
  cursor: pointer;
}
.main-experience-column{
flex-basis: 280px;
}
.main-experience-column-second{
flex-basis: 700px;
padding-top: 35px;
}
.main-experience-column-second p{
  margin-top: 16px;
  color: #656D72;
}

.main-experience-column-second a{
  color: #656D72;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  margin: 16px 10px 30px 0px;
}
.main-experience-column-second a:hover{
    color: #7E74F1;
    border: 1px solid #7E74F1;
}
hr{
  background-color: #5a5b5c54;
  height: 2px;
  max-width: 650px;
  margin-top: 30px;
}

.blog{
  padding-bottom: 90px;
}
.clients{
  background-color: #FBFBFB;
  padding: 90px 0px;
}
.clients .work_skrol-img p{
  color: black;
}
.clients .work_skrol-img h6{
  color: #656D72;
}

.clients .work_skrol-img .img-skrol-info{
  border: none;
  padding: 10px;
  background-color: white;
}