@charset "UTF-8";
/*Null settings*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 2;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif;
  color: #656D72;
  max-width: 1440px;
  min-width: 320px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?uci5aj');
    src:  url('fonts/icomoon.eot?uci5aj#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?uci5aj') format('truetype'),
      url('fonts/icomoon.woff?uci5aj') format('woff'),
      url('fonts/icomoon.svg?uci5aj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-Vector-1:before {
    content: "\e900";
  }
  .icon-Vector-2:before {
    content: "\e901";
  }
  .icon-Vector-3:before {
    content: "\e902";
  }
  .icon-Icon:before {
    content: "\e903";
  }
  .icon-shape-Stroke-1:before {
    content: "\e904";
  }
  .icon-shape-Stroke-2:before {
    content: "\e905";
  }
  .icon-shape-Stroke-3:before {
    content: "\e906";
  }
  .icon-shape-Stroke-4:before {
    content: "\e907";
  }
  .icon-shape-Stroke-5:before {
    content: "\e908";
  }
  .icon-shape-Stroke:before {
    content: "\e909";
  }
  .icon-Vector:before {
    content: "\e90a";
  }

  .title{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #232E35;
  }
  .title_lable{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 7.5px;
    font-weight: 500px;
    color:#656D72;
    padding-left: 35px;
    position: relative;
    margin-bottom: 9px;
  }
  .title_lable::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: rgb(157, 154, 154);
  }

/* NAV */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header_container{
    display: flex;
    align-items: center;
    min-height: 120px;
}
.menu{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.menu_link{
width: 84px;
height: 19px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #232E35;
transition: all 0.3s ease 0s;
}
.menu_link:hover{
    color: #7E74F1;
}
.header_button{
width: 102px;
height: 49px;
padding: 16px 24px;
border: 1px solid #F1F1F1;
color: #232E35;
border-radius: 5px;
}
.header_button:hover{
    color: #7E74F1;
    border: 1px solid #7E74F1;
}